* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#sidebar {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(20, 1fr);

    height: 100vh;
    width: 80px;
    float: left;

    background-color: darkgrey;
    padding: 5px;
}

#container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15px, 1fr));
}

#sidebar>* {
    border: 1px black solid;
}

.pixel {
    width: 15px;
    height: 15px;
    background-color: white;
    border: .5px lightgray solid;
}

button {
    grid-column: 1/3;

    background-color: whitesmoke;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
}