  #navbar {
      background-color: #333;
      padding: 15px;
      display: flex;
      align-items: center;
      gap: 15px;
  }

  .user-info {
      color: white;
      display: flex;
      align-items: center;
      gap: 10px;
  }

  .user-info img {
      width: 50px;
      height: 50px;
      border-radius: 15%;
      object-fit: cover;
  }